
@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@if (Model != null)
{
    <p>@Model.Name</p>
} else
{
    <p>Customer not found</p>
}