@model DineFind.Models.Entities.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Username's Profile</h2>
<p><strong>Email:</strong> @Model.Email</p>

<h3>Preferences</h3>
<ul>
    @foreach (var preference in Model.Preferences)
    {
        <li>@preference.CuisinePreference.Name</li>
    }
</ul>

@Html.ActionLink("Edit Preferences", "UpdatePreferences", new { userId = Model.Id })
