
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Observación</h2>

<button onclick="location.href='@Url.Action("Camaras", "Observation")'" class="btn btn-primary">Lista de cámaras</button>